.Files {
    display: block;
    box-shadow: 0px 0px 0px 2px blue,
        0px 2px 4px rgba(0, 0, 0, 0.1),
        0px 4px 8px rgba(0, 0, 0, 0.1),
        0px 8px 16px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: blue;
    cursor: pointer;
    width: 15%;
    text-align: center;
    margin-left: 1%;
}